# Nome do Workflow
name: Deploy Ekommerce to AWS EC2

# Gatilho: Roda sempre que houver push na branch main
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    name: Build and Push to ECR
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, Tag and Push Images
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: latest
      run: |
        # Build e Push da API
        docker build -t $ECR_REGISTRY/ekommerce/api-pedidos:$IMAGE_TAG -f SistemaPedidos.API/Dockerfile .
        docker push $ECR_REGISTRY/ekommerce/api-pedidos:$IMAGE_TAG
        
        # Build e Push do Worker Estoque
        docker build -t $ECR_REGISTRY/ekommerce/worker-estoque:$IMAGE_TAG -f SistemaEstoque.Worker/Dockerfile .
        docker push $ECR_REGISTRY/ekommerce/worker-estoque:$IMAGE_TAG
        
        # Build e Push do Worker Notificação
        docker build -t $ECR_REGISTRY/ekommerce/worker-notificacao:$IMAGE_TAG -f SistemaNotificacao.Worker/Dockerfile .
        docker push $ECR_REGISTRY/ekommerce/worker-notificacao:$IMAGE_TAG

  deploy:
    name: Deploy to EC2 via SSH
    needs: build-and-push
    runs-on: ubuntu-latest
    
    steps:
    - name: Executing remote ssh commands
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          # 1. Autenticar no ECR dentro da EC2
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 815598786949.dkr.ecr.us-east-1.amazonaws.com
          
          # 2. Ir para a pasta do projeto (onde está o seu docker-compose.prod.yml)
          cd /home/ubuntu/
          
          # 3. Puxar as imagens novas
          docker-compose -f docker-compose.prod.yml pull
          
          # 4. Reiniciar os containers (apenas os que mudaram)
          docker-compose -f docker-compose.prod.yml up -d
          
          # 5. Limpar imagens antigas (opcional para economizar disco)
          docker image prune -f
